/* Not changes needed from here */
.wrap {
  margin: 140px; }

.hex {
  width: 180px;
  height: 103.9231px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  float: left;
  text-align: center;
  zoom: 1;
  border-right: 1px solid black;
  border-left: 1px solid black;
  /* Custom styles*/ }
  .hex.hex-gap {
    margin-left: 103.9231px; }
  .hex:hover {
    cursor: pointer;
    opacity: 0.5; }
  .hex .corner-1,
  .hex .corner-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -2;
    border-right: 1px solid black;
    border-left: 1px solid black;
    overflow: hidden; }
    .hex .corner-1:before,
    .hex .corner-2:before {
      content: '';
      position: absolute;
      background: inherit;
      top: 0;
      left: 0;
      z-index: 1;
      background: inherit;
      background-repeat: no-repeat; }
  .hex .corner-1 {
    z-index: -1; }
  .hex .corner-2:before {
    bottom: 0; }
  .hex .inner {
    color: #333; }
  .hex h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.44em;
    margin: 0; }
  .hex hr {
    width: 60%;
    border: 0;
    border-top: 3px solid #eee;
    margin: 12px auto; }
  .hex .text {
    font-size: 1.2em;
    font-family: 'Kotta One', serif;
    width: 80%;
    margin: 0 auto; }
  .hex.hex-1 {
    background: #74cddb; }
