body{
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a{
  font-family: lato;
}

nav {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
}

a.menu-bar{
text-decoration: none;
color: white;
}

a.menu-bar:hover {
  background-color: blue;
  border-color: blue;
}

a.menu-bar:active {
  background-color: blue;
}

a.menu-bar:visited {
  background-color: blue;
}

/* Styling for flex box */
.flex-container {
  display: flex;
  padding: 1em;
}

.flex-item {
  flex: 1;
  width: 0;
}

.flex-item:not(:last-child) {
  margin-right: 1em;
}

@media only screen and (max-width: 800px) {
  button {
    padding: .75em;
  }
}

@media only screen and (max-width: 765px) {
  .flex-container {
    flex-wrap: wrap;
  }

  .flex-item {
    flex: 0 0 100%;
    margin-bottom: 1em;
    width: 100%;
  }
}

.box-modal{
  background-color: lightgrey;
  width: 300px;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
}
