nav {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
}

body{
  margin: 0;
}

h1{
  font-family: lato;
}

a{
text-decoration: none;
color: white;
}
a:hover {
  background-color: blue;
  border-color: blue;
}

a:active {
  background-color: blue;
}

a:visited {
  background-color: blue;
}

.flex-grid-4th {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.flex-grid-4th .col {
  width: 24%;
}

@media (max-width: 400px) {
  .flex-grid-4th {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

.box-modal{
  background-color: lightgrey;
  width: 300px;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
}
