nav {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
}

a{
text-decoration: none;
color: white;
}
a:current {
  background-color: blue;
  border-color: blue;
}
/*
a:active {
  background-color: blue;
}

a:visited {
  background-color: blue;
} */
